{% extends 'base.html.twig' %}

{% block body %}
    <div class="list">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Особь</th>
                <th scope="col">Семья</th>
                <th scope="col">Популяция</th>
            </tr>
            </thead>
            <tbody>
            {% for name in items %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ name }}</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}