{% extends 'base.html.twig' %}

{% block body %}
    <div class="list">
        <div class="block-header">
            <h2 style="color: rgba(0,0,0,.7)">Выборка</h2>
        </div>
        <div class="block-top" style="margin:2px;border:solid 1px darkgrey;height:100px;overflow:auto;">
            <a class="btn btn-outline-secondary" href="" role="button" style="margin:4px 1px;">1.1.1.1.1</a>
            <a class="btn btn-outline-secondary" href="" role="button"  style="margin:4px 1px;">1.1.1.1.2</a>
            <a class="btn btn-outline-secondary" href="" role="button"  style="margin:4px 1px;">2.1.1.4.1</a>
        </div>
        <div class="block-bottom" style="margin:2px;border:solid 1px darkgrey;height:400px;overflow:auto;">
        </div>
        <div class="text-right" style="margin:4px;">
            <a class="btn btn-primary mb-2" href="{{ path('sample') }}" role="button">Отменить</a>
            <a class="btn btn-primary mb-2" href="" role="button">Склеить</a>
        </div>
    </div>
{% endblock %}