{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/Sample.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="list">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Вид</th>
                <th scope="col">Популяция</th>
                <th scope="col">Колония</th>
                <th scope="col">Семья</th>
                <th scope="col">Особь</th>
            </tr>
            </thead>
            <tbody>
                <tr id="empty_row">
                    <td><input type="number" class="form-control" id="exampleFormControlInput1"></td>
                    <td><input type="number" class="form-control" id="exampleFormControlInput1"></td>
                    <td><input type="number" class="form-control" id="exampleFormControlInput1"></td>
                    <td><input type="number" class="form-control" id="exampleFormControlInput1"></td>
                    <td><input type="number" class="form-control" id="exampleFormControlInput1"></td>
                </tr>
            </tbody>
        </table>
        <div class="text-left">
            <a href="" onclick="return false;" id="add_row_link" href="" class="btn btn-primary mb-2" role="button">Добавить</a>
        </div>
        <div class="text-left">
            <a class="btn btn-primary mb-2" href="" role="button">Выбрать</a>
        </div>
    </div>
{% endblock %}