{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/Sample.js') }}"></script>
{% endblock %}

{% block body %}
    <form action="{{ path('sample_result')}}"  enctype="multipart/form-data" class="mt-5" method="post">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Вид</th>
                <th scope="col">Популяция</th>
                <th scope="col">Колония</th>
                <th scope="col">Семья</th>
                <th scope="col">Особь</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr class="empty_row">
                    <td><input type="number" class="form-control" name="select[0][specie_id]" ></td>
                    <td><input type="number" class="form-control" name="select[0][population_id]" ></td>
                    <td><input type="number" class="form-control" name="select[0][colony_id]" ></td>
                    <td><input type="number" class="form-control" name="select[0][family_id]" ></td>
                    <td><input type="number" class="form-control" name="select[0][item_id]" ></td>
                    <td>
                        <a href="" onclick="return false;" class="remove_row_link" title="Удалить"><img alt="Удалить" src="{{ asset('img/remove.png') }}" /></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-left">
            <a href="" onclick="return false;" id="add_row_link"  class="btn btn-primary mb-2" role="button">Добавить</a>
        </div>
        <input type="submit" value="Выбрать" class="btn btn-primary mb-2" />
    </form>
{% endblock %}